<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Створення нотатки</title>
</head>

  <div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">
      <div class="row ml-auto mr-auto">
        <div class="col-md-12">

          <div class="text-center">
            <h2>Створення рецепту</h2>
          </div>

          <div class="card card-default mb-2">

            <form action="/note/create" method="post" id="createForm">

              <div class="card-body p-0 m-3">
                <div class="bs-stepper-content">

                  <div class="form-row">
                    <div class="form-group col-md-12">

                      <div class="form-group">
                        <label for="title">Заголовок</label>
                        <input type="text" class="form-control form-control-lg" id="title" name="title">
                      </div>

                      <label class="checkbox-ios">
                        <label class="form-check-label" for="publicNote">Публічна</label>
                        <input type="checkbox" id="publicNote" name="publicNote">
                        <span class="checkbox-ios-switch"></span>
                      </label>
                    </div>

                  </div>



                  <div class="form-group">
                    <label for="summernote">Вміст</label>
                    <textarea rows="10" class="form-control form-control-lg" id="summernote" name="content">
                    </textarea>
                  </div>







                </div>

              </div>

              <div class="card-footer">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary m-1" onclick="window.location.href = '/';">Відмова</button>
                  <button type="submit" class="btn btn-success m-1">Зберегти</button>
                </div>
              </div>


            </form>

          </div>




        </div>
      </div>

    </div>
  </div>



</body>
</html>
