<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Створення нотатки</title>
</head>

  <div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">
      <div class="row ml-auto mr-auto">
        <div class="col-md-12">

          <section class="content-header">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <h1>Створення нотатки</h1>
                </div>

                <div class="col-sm-6">
                  <ol class="float-right">

                  </ol>
                </div>

              </div>
            </div><!-- /.container-fluid -->
          </section>



          <div class="card card-default mb-2">

            <form action="/note/create" method="post" id="createForm">

              <div class="card-body p-0 m-3">
                <div class="bs-stepper-content">
                  <div class="form-group">
                    <label for="name">Заголовок</label>
                    <input type="text" class="form-control form-control-lg" id="name" name="name">
                  </div>

                  <div class="form-group">
                    <label for="summernote">Вміст</label>
                    <textarea rows="10" class="form-control form-control-lg" id="summernote" name="description">
                    </textarea>
                  </div>

                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="publicNote" name="publicNote">
                    <label class="form-check-label" for="publicNote">Публічна</label>
                  </div>

                  <div class="input-group mb-3">
                    <label style="width:150px"for="choiceFile">Оберіть файл:</label>

                    <input type="file" id="choiceFile" name="avatar">
                  </div>

                </div>

              </div>

              <div class="card-footer">
                <div class="btn-group" role="group">
                  <a href="/" class="btn btn-default mr-1">Відмова</a>
                  <button type="submit" class="btn btn-success">Зберегти</button>
                </div>
              </div>


            </form>

          </div>




        </div>
      </div>

    </div>
  </div>



</body>
</html>
