<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Головна</title>
</head>
  <div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">
      <div class="row ml-auto mr-auto">
        <div class="col-md-12">
          <div class="row mt-2">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Дата створення</th>
                <th scope="col">Автор</th>
                <th scope="col">Мітка</th>
              </tr>
              </thead>
              <tbody>
              <div th:each="note, iStat: ${notePage}">
                <tr>
                  <th scope="row" th:text="${iStat.index} + 1"></th>
                  <td><a th:href="@{/note/view(id=${note.id})}"><div  th:text="${note.title}"></div></a></td>
                  <td th:text="${#temporals.format(note.createdDate, 'dd-MM-yyyy')}"></td>
                  <td></td>
                  <td>
                    <div th:each="tag: ${note.tagList}">
                    <span class="badge badge-pill badge-info"><div th:text="${tag.title}"></div></span>
                    </div>
                  </td>
                </tr>
                </div>
              </tbody>
            </table>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a th:href="@{/note/list(size=${notePage.size}, page=${previousPage})}"
                                           th:text="Попередня"
                                           th:class="page-link"></a></li>
                <div th:each="pageNumber : ${pageNumbers}">
                    <li class="page-item">
                    <a th:href="@{/note/list(size=${notePage.size}, page=${pageNumber})}"
                       th:text=${pageNumber}
                       th:class="page-link"></a></li>
                </div>
                <li class="page-item"><a th:href="@{/note/list(size=${notePage.size}, page=${nextPage})}"
                                         th:text="Наступна"
                                         th:class="page-link"></a></li>
                  </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
