<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Home</title>
</head>

  <div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">

      <div class="row ml-auto mr-auto">



        <div class="col-md-12">


          <div class="row mt-2">


            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Заголовок</th>
                <th scope="col">Дата створення</th>
                <th scope="col">Автор</th>
                <th scope="col">Мітка</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td><a href="#">Кабачкова ікра на зиму</a></td>
                <td>26.07.2023</td>
                <td>Андрій</td>
                <td><span class="badge badge-pill badge-success">Закрутки</span></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><a href="#">Справжній іспанський рецепт гаспачо</a></td>
                <td>26.07.2023</td>
                <td>Андрій</td>
                <td><span class="badge badge-pill badge-info">Другі блюда</span></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><a href="#">Класичний білий борщ</a></td>
                <td>26.07.2023</td>
                <td>Анна</td>
                <td><span class="badge badge-pill badge-info">Другі блюда</span></td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="row mt-2">
            <div class="col-md-12">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Попередня</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Наступна</a></li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</body>
</html>
