<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Редагування нотатки</title>
</head>

  <div layout:fragment="content" th:remove="tag">

    <div class="modal fade" id="modal-delete">
      <div class="modal-dialog modal-lg">

          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Видалити рецепт?</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
              <button type="button" class="btn btn-success m-1" th:attr="onclick=|window.location.href='/note/delete?id=${note.id}';|">Видалити</button>
            </div>
          </div>

      </div>
    </div>

    <div class="content-wrapper content">
      <div class="row ml-auto mr-auto">
        <div class="col-md-12">

          <div class="text-center">
            <h2>Редагування рецепту</h2>
          </div>


          <div class="card card-default mb-2">

            <form action="/note/edit" method="post" id="createForm">

              <div class="card-body p-0 m-3">
                <div class="bs-stepper-content">
                  <div class="form-group">
                    <label for="title">Заголовок</label>
                    <input type="text" class="form-control form-control-lg" id="title" name="title" th:value="${note.title}">
                  </div>

                  <div class="form-group">
                    <label for="summernote">Вміст</label>
                    <textarea rows="10" class="form-control form-control-lg" id="summernote" name="content" th:text="${note.content}">
                    </textarea>
                  </div>

                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="publicNote" name="publicNote" th:checked="${note.noteAccessType=='public'}">
                    <label class="form-check-label" for="publicNote">Публічна</label>
                  </div>

                  <input type="hidden" name="id" th:value="${note.id}">

                </div>

              </div>

              <div class="card-footer">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary m-1" onclick="window.location.href = '/';">Відмова</button>
                  <button type="button" class="btn btn-danger m-1 btn-lg" data-toggle="modal"
                          data-target="#modal-delete">Видалити
                  </button>
                  <button type="submit" class="btn btn-success m-1">Зберегти</button>
                </div>
              </div>


            </form>


          </div>




        </div>
      </div>

    </div>
  </div>



</body>
</html>
