<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="header">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/"><img src="img/logo.png" alt="logo" class="logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto header-menu">
            <li class="nav-item active">
              <a class="nav-link" href="account">Кабінет</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="about">Про проект</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contacts">Контакти</a>
            </li>

            <li class="nav-item">
              <form action="#" th:action="@{/note/list?&query=blah}" class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2 ml-4" name="searchText" type="search" placeholder="пошук" aria-label="Search">
                <button onclick="GetURLParameter()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Шукати</button>
              </form>
            </li>

          </ul>

          <ul class="navbar-nav">
            <li class="nav-item ml-1">
              <button type="button" class="btn btn-success" onclick="window.location.href = '/note/create';">Новий рецепт</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</th:block>

<!--<script>-->
<!--GetURLParameter() {-->
<!--console.log('Запуск')-->
<!--const params = new URLSearchParams(document.location.search);-->
<!--document.getElementById("searchSize").value = (params.get("size").trim() == '') ? 5 : params.get("size");-->
<!--document.getElementById("searchPage").value = (params.get("page").trim() == '') ? 1 : params.get("page");-->
<!--console.log(document.getElementById("searchPage").value);-->
<!--console.log(document.getElementById("searchSize").value);-->

<!--};-->
<!--</script>-->

</body>
</html>