<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Про нас</title>
</head>

<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">

        <div class="row ml-auto mr-auto">
            <div class="col-md-12">

                <div class="text-center">
                    <h3>Вітаємо на нашому сайті!</h3>
                </div>

                <p>
                    Наша сторінка "RATATUILLE" створена з метою збереження найулюбленіших страв, які несуть у собі дух
                    сімейної затишності та традицій.
                </p>


                <div class="text-center">
                    <h3>Наша місія</h3>
                </div>

                <p>У світі, де технології швидко розвиваються і життя біжить неймовірними темпами,
                    ми прагнемо не забувати теплоту сімейних зібрань за спільним столом.
                    Наша місія - зберегти цю теплоту і переконатися, що найкращі сімейні рецепти не загубляться під
                    натиском часу.
                </p>


                <div class="text-center">
                    <h3>Наші цінності</h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge badge-secondary">Традиції</span> Ми пишаємося своїми коріннями та відданістю традиціям.
                        Кожен рецепт на нашому сайті - це частка спадщини, яку ми прагнемо передати майбутнім
                        поколінням.
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-secondary">Зручність</span> Наш сайт простий та зрозумілий у використанні.
                        Ви можете легко знайти бажаний рецепт і ділитися своїми власними стравами з іншими
                        користувачами.
                    </li>
                </ul>

                <div class="text-center">
                    <h3>Приєднуйтесь до нас</h3>
                </div>


                Ми віримо, що кожна страва має свою історію, а кожен рецепт - це унікальний шедевр. Приєднуйтесь до
                нашої спільноти "RATATUILLE" і
                збережімо разом теплоту сімейних моментів через кулінарне мистецтво!

                <div class="text-center mt-5">
                    <H3>Залишайтеся з нами і діліться своїми улюбленими рецептами!</H3>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>
