body {
        background: url(/img/fon.jpg) no-repeat center center fixed;
        background-size: cover;
}

.content {
  background: rgba(255,255,255,.9);
  font-size: 1.2rem;
}

.logo {
  height:40px;
}

.header-menu{
    font-size: 1.2rem;
}

.delete-tag-button{
    color: #6C757D;
    text-align: center;
    background-color: transparent;
    padding: 0px 15px 15px 0px;
    border: none;
    cursor: pointer;

}

.delete-tag-button:hover {
	color: #DC3545;
}